* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(./style/_breackpoints.scss);
@import url(./style/_variables.scss);


.header {
  background: linear-gradient(107.89deg, #E1DDDB 0%, #F2F1ED 21.28%, #FDFCF9 65.53%, #E6E0DD 100.12%);

}

// nav-links style
.nav-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #5D676F;
}

.btn-outline-info {
  width: 100px;
  height: 33px;
  border: 1px solid #55CAE8;
  box-sizing: border-box;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn-light {
  width: 190px;
  height: 68px;
  left: 404px;
  top: 504px;
  background: #E3E0DD;
  border-radius: 36px;
}

.header-h1 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 66px;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: black;
  margin-top: 90px;
  margin-left: 20px;

  span {
    background-color: #55CAE8;
    color: #FFFFFF;
  }
}

#header-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  margin-top: 24px;
  margin-left: 20px;

  color: #2E2B32;
}

.my-bg {
  background-image: url(Images/header-img.png);
  background-position: 227%;
  background-repeat: no-repeat;
}

// headers btns
.my-btn {
  background: #E3E0DD;
  border-radius: 36px;
  width: 190px;
  height: 68px;
  border: none;
  margin-left: 20px;
  margin-top: 36px;

  span {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #4AC9F3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  ::after {
    content: '';
    background-image: url(Images/arrow.svg);
    width: 28px;
    height: 21px;
    left: 556px;
    top: 531px;
    border: none;
  }
}

// second one
.my-btn1 {
  background: #2E2B32;
  border-radius: 36px;
  width: 190px;
  height: 68px;
  border: none;
  margin-left: 15px;
  margin-top: 36px;

  span {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #F6F5F1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  ::after {
    content: '';
    background-image: url(Images/white-arrow.svg);
    width: 28px;
    height: 21px;
    left: 556px;
    top: 531px;
    border: none;
    color: #F6F5F1;
  }
}

// header bottom text
.header-bottom {
  margin-top: 130px;
  background: #CED5D8;
  width: 100%;
  height: 90px;

  p {
    // font-family: $font-size;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #2E2B32;
    padding: 22px;
  }
}

// main


.main-container {
  width: 100%;
  background: linear-gradient(103.21deg, #302C34 2.8%, #59555D 26.3%, #4A474F 37.81%, #232224 92.31%);

  .dark-header {
    p {
      padding-top: 64px;
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 39px;
      justify-content: center;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    span {
      background-color: #55CAE8;
    }
  }

  .row {
    .col {
      width: 214px;
      height: 222px;
      background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(23, 128, 155, 0.1) 73.44%);
      margin: 10px;

      // text
      h4 {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 24px;
      }

      p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin: 40px 15px 42px;
      }

    }
  }
}

#last {
  padding-bottom: 64px;
}

// Product section
.products {
  padding-top: 64px;
  background: #E5E5E5;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #2E2B32;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 64px;

    span {
      background-color: #55CAE8;
      color: #FFFFFF;
    }
  }

  .align-items-center {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;

    .col {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 26px;
      align-items: center;
      letter-spacing: 0.01em;
      color: #2E2B32;
      max-width: 450px;
      height: auto;

      b {
        text-transform: uppercase;
      }
    }

    #mappy {
      position: relative;

      #map-item {
        position: absolute;
        left: 159px;
        top: -65px;
      }
    }


    // wifis
    #wifi {
      position: relative;

      #wifi-black {
        position: absolute;
        left: 164px;
        top: -180px;
        z-index: 5;
      }

      #wifi-white {
        position: absolute;
        left: 87px;
        top: -200px;
        z-index: 6;
      }

      #phone {
        position: absolute;
        top: -120px;
        z-index: 7;
      }
    }
  }

}

// black-line
.black-line {
  // max-height: 235px;
  background: linear-gradient(281.7deg, #302C34 11.23%, #59555D 42.92%, #4A474F 52.23%, #232224 94.08%);


  .row-6 {
    background-image: url(Images/boxes.svg);
    background-repeat: no-repeat;
    background-position: right;

    h1 {
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-top: 53px;
    }

    p {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      width: 42%;
      padding-bottom: 48px;
    }
  }
}

// black line end

// info section
.info {
  background: #E5E5E5;
  padding-bottom: 64px;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    padding-top: 64px;
    margin-bottom: 48px;
    color: #2E2B32;
  }

  .col {
    p {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 26px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: #2E2B32;
    }
  }
}

// end line section

// list section
.list {
  // img{
  //   // background-image: url(Images/tapes.png);
  //   background-position: right;
  //   background-repeat: no-repeat;
  //   // transform: rotate(-15deg);
  //   background-size: cover;
  //   z-index: -1;
  // }


  .row {

    max-height: 512px;
    background: linear-gradient(281.7deg, #302C34 11.23%, #59555D 42.92%, #4A474F 52.23%, #232224 94.08%);

    ol {
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 48px;
      align-items: center;
      letter-spacing: 0.01em;
      // text-transform: uppercase;
      color: #55CAE8;
      padding-top: 64px;
      margin-left: 75px;
    }

    li {
      width: 391px;
      padding-left: 6px;
    }

    span {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 39px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      padding-bottom: 32px;
      padding-left: 20px;
    }



  }


}

// list end

// form section
.forma {
  background: #E5E5E5;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 64px;
    padding-bottom: 46px;
  }

  .form-group {

    label {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      padding: 20px 0px 10px 0px;
      color: #2E2B32;
    }

    .form-control {
      width: 540px;
      height: 68px;

      input {
        background: #FAFAFA;
        border: 1px solid #504C54;
        box-sizing: border-box;
      }
    }
  }

  button {
    background: #2E2B32;
    border-radius: 36px;
    width: 190px;
    height: 68px;
    border: none;
    margin-left: 15px;
    margin-top: 36px;


    span {
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height */
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;

      color: #F6F5F1;

      span::after {
        content: '';
        background-image: url(Images/arrow.svg);
        width: 28px;
        height: 21px;
        left: 556px;
        top: 531px;
        border: none;
        color: #F6F5F1;
      }
    }
  }
}